body {
   background-color: rgb(0, 217, 255);
  }
  div {
    height: 300px;
    width: 300px;
    margin: 50px 10px;
    background-color: green;
    border-style: solid;

  }
  h1 {
    color: white;
    margin: 30px 150px
  }
  h2 {
color: white
  }